<div class="container">
  <div class="row">
    <div class="col-4 col-offset-4">
      <center>
      <h1>Done</h1>
      <p>Wait 5 minutes and you should be all good!!</p>
      <p>Your current IP is:<br>
      <strong><%= current_user.current_sign_in_ip %></strong>

    </center>
    </div>
  </div>
</div>
